

h1{
	color:#0EFBD1  ;
	text-align: center;
}
h2{
	color: #0EFBD1   ;

}
h4{
	color: #FFFFFF;
}

P{
	background-color: #BD4F6C;
}

body{
	font-family: Arial, sans-serif;
	font-style:italic;
	background-color:#D7816A;
	background-image: url(jjkk.jpg);*/
	background-image: url(pipi prout.MP4);

}


 



    

	  
	

